
nav {
    margin: 30px;
    text-align: right;
    font-family: 'Lustria', serif;
    font-size: 15px;
}


header {
    padding: 0;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
  }

  body {
    background: rgb(237,192,212);
    background: radial-gradient(circle, rgba(237,192,212,1) 83%, rgba(222,164,164,1) 100%);
  }

  main {
    margin: 0px;
    text-align: center;
    font-family: 'Lustria', serif;
    font-size: 15px;
    font-weight: bolder;
  }

 

  
  